# debug 模式
DEBUG=true

# 项目名称
APP_NAME=short_url
# 运行环境
APP_ENV=local
# 接口域名
APP_URL=http://localhost:8080

# MySQL 连接配置
MYSQL_HOST=0.0.0.0
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=go

# Redis 连接配置
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE_DEFAULT=0